*.ipynb
plots/
saves/
trash/
__pycache__/
action_minimizer.py
collocation_1d.py
collocation_tester.py
main_bijective_level.py
tensor_grid_object.py
motorgrid.py
knot_vector.py
prolongation.py
nrw.txt
*.vtk
*.msh
*.
tasks
